<% var title = "Playground"; %>
<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/css/playground/index.css" type="text/css" />
	<% include ../../globals/head %>
	<body>
		<% include ../../globals/header %>
		<div id="body">
			<div id="header">
				<div id="title">
					Playground
				</div>
			</div>
			<div class="seperator">

			</div>
			<div id="projects">
				
			</div>
		</div>
		<% include ../../globals/footer %>
	</body>
</html>
