<% var title = "About"; %>
<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/css/about/index.css" type="text/css" />
	<% include ../../globals/head %>
	<body>
		<% include ../../globals/header %>
		<div id="body">
			<div class="comingsoon">
				<div class="title">
					About
				</div>
				<div class="subtitle">
					Coming soon...
				</div>
				<div class="more">
					If you would like, you can take a look at my resume <a href="/files/PublicResume.pdf" download>Here</a>
				</div>
			</div>
		</div>
		<% include ../../globals/footer %>
	</body>
</html>
