<% var title = "Home"; %>
<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/css/contact/index.css" type="text/css" />
	<% include ../../globals/head %>
	<body>
		<% include ../../globals/header %>
		<div id="body">
			<div class="comingsoon">
				<div class="title">
					Contact
				</div>
				<div class="subtitle">
					Coming soon...
				</div>
				<div class="more">
					If you would like, you can send me an email at contact@alexvanmatre.com or click <a href="mailto:contact@alexvanmatre.com" download>Here</a>
				</div>
			</div>
		</div>
		<% include ../../globals/footer %>
	</body>
</html>
