<% var title = "Home"; %>
<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/css/about/index.css" type="text/css" />
	<% include ../../globals/head %>
	<body>
		<% include ../../globals/header %>
		<div id="body">
			<div id="content">
				<div id="left">
					<div id="pictureframe">
						<div id="pf-picture">
							<img src="/images/me/uwMe-square.jpg" />
						</div>
						<div id="pf-name">
							<span>Alex Van Matre</span>
						</div>
					</div>
				</div>
				<div id="right">
					<div id="timeline">
						<!-- [bar] [bar] [bar] [gap] [center] [gap] [month / year] -->
						<!-- [bar] [bar] [bar] [center] -->
						<!-- [bar] [bar] [bar] [center] -->
						
					</div>
					<div id="display">

					</div>
				</div>
			</div>
		</div>
		<% include ../../globals/footer %>
	</body>
</html>
