<% var title = "About"; %>
<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/css/about/index.css" type="text/css" />
	<% include ../../globals/head %>
	<body>
		<% include ../../globals/header %>
		<style>
			.h-r-d-i-l-text {
				color: white;
			}
		</style>
		<div id="body">
			<div id="header">
				<div id="title">
					About
				</div>
			</div>
			<div class="seperator">

			</div>
			<div id="start" class="section">
				<div class="sectiontitle white">
					Who am I?
				</div>
				Here you can find out all about me, conveniently categorized into sections that I feel best represent me.
			</div>
			<div id="me" class="section">
				<div class="sectiontitle black">
					I am Me.
				</div>
			</div>
			<div id="insta" class="section">

			</div>
			<div id="student" class="section">
				<div class="sectiontitle black">
					I am a Student.
				</div>
			</div>
			<div id="coder" class="section">
				<div class="sectiontitle white">
					I am a Developer.
				</div>
			</div>
			<div id="languages" class="section">
				<div id="l-talk">
					Here is a list of the language I know, and how well I know them. For more information, just click on the language.
				</div>
				<div id="l-languages">
					<div class="language" data-fill="">
						<div class="l-front">
							<div class="l-f-title">

							</div>
							<div class="l-f-bar">
								<div class="l-f-b-bar">

								</div>
							</div>
						</div>
						<div class="l-description disabled">

						</div>
					</div>
				</div>
			</div>
			<div id="target" class="section">
				<div class="sectiontitle white">
					I am a Cashier.
				</div>
			</div>
			<div id="charity" class="section">
				<div class="sectiontitle black">
					I am a Donor. <i style="font-weight: normal; font-size: 20px;">(of time mostly)</i>
				</div>
			</div>
			<div id="gamer" class="section">
				<div class="sectiontitle white">
					I am a Gamer.
				</div>
			</div>
			<div id="resume" class="section">
				<div class="sectiontitle black">
					Resume.
				</div>
				Here you can download a copy of my resume, if you wish to take a further look into my professional side. <br />
				<a href="/files/PublicResume.pdf" download>Download</a>
			</div>
		</div>
		<% include ../../globals/footer %>
	</body>
</html>
