<% var title = "Home"; %>
<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/css/about/index.css" type="text/css" />
	<% include ../../globals/head %>
	<body>
		<% include ../../globals/header %>
		<div id="body">
			<div id="top">
				<div id="topleft">

				</div>
				<div id="topright">

				</div>
			</div>
			<div id="bottom">
				<div id="bottomleft">

				</div>
				<div id="bottomright">
					
				</div>
			</div>
		</div>
		<% include ../../globals/footer %>
	</body>
</html>
