<% var title = "Home"; %>
<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/css/about/index.css" type="text/css" />
	<% include ../../globals/head %>
	<body>
		<% include ../../globals/header %>
		<div id="body">
			<div id="content">
				<div id="cc" class="disabled">
					<!--
						Work
						Education
						Extracurricular
						Volunteer
						Languages
						Major Projects
						Certifications
						Awards
						Extras
					-->
					<div class="elevatorpitch section">
						<div class="s-title">
							My Little Spiel
						</div>
						<div class="s-content">
							<img src="/images/me/uwMe-square.jpg" />
							Hello, my name is Alex Van Matre. I know 9 programming languages as well as half of a foriegn language. I am also currently working towards a dual masters in Computer Science and Cyber Security, while being your friendly cashier at Target. I have built 3 full-production websites, as well as my own programming language and 2d pixel art game. You can find out more about me right here on my in-progress website.
						</div>
					</div>
					<!--
					<div class="section">
						<div class="s-title">

						</div>
						<div class="s-content">

						</div>
					</div>
					-->
					<div class="section">
						<div class="s-title">
							Work
						</div>
						<div class="s-content">
							<div class="workitem">
								<div class="wi-top">
									<!-- EMPTY -->
								</div>
								<div class="wi-content">
									<div class="wi-c-left">
										<img class="wi-c-l-logo" src="/images/other-sites/target.png" alt="target" />
										<b>Target, Inc. </b> <br />
										Woodinville, WA
									</div>
									<div class="wi-c-right">
										<h3>Cashier</h3>
										<span style="font-size: 12px"><i>From June 11th 2018 to Current </i>
										</span><br /><br />
										Provide a fun, friendly environment while giving efficient services. Cross trained in many departments including self-checkout, guest service, Starbucks, hardlines, and market. Kept busy in slow business hours by restocking, making sure checkstands were clean and tidy, making samples for guests, greeting guests, and other miscellaneous tasks assigned by my managers.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section">
						<div class="s-title">
							Education
						</div>
						<div class="s-content">
							<!--
							<div class="edutop">
								<table>
									<tr>
										<td colspan=3>

										</td>
										<td style="color: #529EFB; text-align: center; text-shadow: 0px 1px #204790; box-shadow: 0px 1px 1px #529EFB">
											Right Now
										</td>
									</tr>
									<tr class="edu-dates">
										<td>
											2015-2016
										</td>
										<td>
											2016-2017
										</td>
										<td>
											2017-2018
										</td>
										<td>
											2018-2019
										</td>
										<td colspan=3 style="background-color: rgba(0, 0, 0, .3)">
											The Future
										</td>
									</tr>
									<tr>
										<td colspan=3 class="edu-bothell">
											Bothell High School
										</td>
										<td class="edu-uw">
											University of Washington, Bothell
										</td>
										<td class="edu-bachelors">
											Bachelors in CSSE
										</td>
										<td class="edu-compsci">
											Masters in CSSE
										</td>
									</tr>
									<tr>
										<td>

										</td>
										<td class="edu-cascadia" colspan=2>
											Cascadia Community College
										</td>
										<td>

										</td>
										<td style="background-color: rgba(0, 0, 0, .3)">

										</td>
										<td class="edu-cysec">
											Masters in CSE
										</td>
									</tr>
								</table>
							</div>
							-->
						</div>
					</div>
					<!--
					<style>
						#cc {
							vertical-align: top;
							width: 100%;
						}
							.elevatorpitch {
								float: right;
								text-align: center;
							}
								.elevatorpitch .s-content img {
									border: 1px solid #343434;
									float: left;
									width: 200px;
								}
							.section {
								width: 100%;
							}
								.s-title {
									float: left;
									font-size: 20px;
									font-weight: bold;
									padding-top: 15px;
									padding-bottom: 5px;
									text-align: left;
									width: 100%;
								}
								.s-content {
									padding-top: 5px;
									padding-left: 5%;
									padding-right: 5%;
									width: 90%;
								}
									.workitem {
										background-color: white;
										border: 1px solid #529EFB;
										border-radius: 5px;
										width: 100%;
									}
										.wi-top {
											background-color: #E80018;
											border-top-left-radius: 5px;
											border-top-right-radius: 5px;
											height: 15px;
											vertical-align: top;
											width: 100%;
										}
										.wi-content {
											vertical-align: top;
											padding-left: 5%;
											padding-right: 5%;
											width: 90%;
										}
											.wi-c-left {
												float: left;
												text-align: center;
												width: 100px;
											}
												.wi-c-l-logo {
													padding: 5px;
													width: 90px;
												}
											.wi-c-right {
												float: right;
												padding-left: 5px;
												text-align: left;
												width: calc(100% - 105px);
											}
					</style>
					-->
				</div>
				<div id="left">

				</div>
				<div id="right">
					
				</div>
			</div>
		</div>
		<% include ../../globals/footer %>
	</body>
</html>
