<% var title = ""; %>
<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/css/index.css" type="text/css" />
	<% include ../globals/head %>
	<body>
		<% include ../globals/header %>
		<div id="body">

		</div>
		<% include ../globals/footer %>
	</body>
</html>
