<footer>
	<div id="f-left">
		<div id="f-l-unflex">
			<div id="f-l-links" class="f-l-section">
				<div class="f-l-l-item">
					<a class="f-l-l-i-link" href="/">
						<span class="f-l-l-i-l-text">
							Home
						</span>
					</a>
				</div>
				<div class="f-l-l-item">
					<a class="f-l-l-i-link" href="/about/">
						<span class="f-l-l-i-l-text">
							About
						</span>
					</a>
				</div>
				<div class="f-l-l-item">
					<a class="f-l-l-i-link" href="/software/">
						<span class="f-l-l-i-l-text">
							Software
						</span>
					</a>
				</div>
				<div class="f-l-l-item">
					<a class="f-l-l-i-link" href="/contact/">
						<span class="f-l-l-i-l-text">
							Contact
						</span>
					</a>
				</div>
			</div>
			<div id="f-l-copyright" class="f-l-section">
				<span id="f-l-c-text">
					Copyright 2018 Alexander J Van Matre. All Rights Reserved.
				</span>
			</div>
			<div id="f-l-privacy" class="f-l-section">
				<a id="f-l-p-pp" href="/privacy-policy/">
					Privacy Policy
				</a>
			</div>
		</div>
	</div>
	<div id="f-right">
		<div id="f-r-unflex">
			<!--
			<a class="f-r-link" href="">
				<img class="f-r-l-img" src="/images/other-sites/hex/youtube.png" />
				<span class="f-r-l-text 2">YouTube</span>
			</a>
			-->
			<a class="f-r-link" href="https://www.instagram.com/poke.i.haunt.us/">
				<img class="f-r-l-img" src="/images/other-sites/hex/instagram.png" />
				<span class="f-r-l-text">Instagram</span>
			</a>
			<a class="f-r-link" href="mailto:contact@alexvanmatre.com">
				<img class="f-r-l-img" src="/images/other-sites/hex/email2.png" />
				<span class="f-r-l-text">Email</span>
			</a>
		</div>
	</div>
</footer>
