<header>
	<div id="h-left">
		<a id="h-l-logoname" href="/">
			<div id="h-l-ln-logo">
				<img id="h-l-ln-l-img" src="/images/logos/logo.gif" alt="Logo" />
			</div>
			<div id="h-l-ln-name">
				Alex Van Matre
			</div>
		</a>
	</div>
	<div id="h-right">
		<div id="h-r-desktop">
			<div class="h-r-d-item">
				<a class="h-r-d-i-link" href="/">
					<span class="h-r-d-i-l-text">
						Home
					</span>
				</a>
			</div>
			<div class="h-r-d-item">
				<a class="h-r-d-i-link" href="/about/">
					<span class="h-r-d-i-l-text">
						About
					</span>
				</a>
			</div>
			<div class="h-r-d-item">
				<a class="h-r-d-i-link" href="/software/">
					<span class="h-r-d-i-l-text">
						Software
					</span>
				</a>
			</div>
			<!--
			<div class="h-r-d-item">
				<a class="h-r-d-i-link" href="/hardware/">
					<span class="h-r-d-i-l-text">
						Hardware
					</span>
				</a>
			</div>
			-->
			<!--
			<div class="h-r-d-item">
				<a class="h-r-d-i-link" href="/photography/">
					<span class="h-r-d-i-l-text">
						Photography
					</span>
				</a>
			</div>
			-->
			<div class="h-r-d-item">
				<a class="h-r-d-i-link" href="/contact/">
					<span class="h-r-d-i-l-text">
						Contact
					</span>
				</a>
			</div>
		</div>
		<div id="h-r-mobile" class="disabled">
			<a id="h-r-m-clickable" href="javascript:void(0)">
				<img id="h-r-m-c-img" src="/images/assets/menu.gif" alt="menu" />
			</a>
		</div>
	</div>
</header>
<div id="mobiledropdown" class="disabled">
	<div id="mdd-close">
		<a id="mdd-c-button" href="javascript:void(0)">
			X
		</a>
	</div>
	<div id="mdd-items">
		<div class="mdd-i-item">
			<a class="mdd-i-i-link" href="/">
				<span class="mdd-i-i-l-text">
					Home
				</span>
			</a>
		</div>
		<div class="mdd-i-item">
			<a class="mdd-i-i-link" href="/about/">
				<span class="mdd-i-i-l-text">
					About
				</span>
			</a>
		</div>
		<div class="mdd-i-item">
			<a class="mdd-i-i-link" href="/software/">
				<span class="mdd-i-i-l-text">
					Software
				</span>
			</a>
		</div>
		<div class="mdd-i-item">
			<a class="mdd-i-i-link" href="/contact/">
				<span class="mdd-i-i-l-text">
					Contact
				</span>
			</a>
		</div>
	</div>
</div>
